---
http_interactions:
- request:
    method: get
    uri: https://secure.prontocycleshare.com/data/stations.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"stations":[{"id":1,"s":"3rd Ave & Broad St","n":"BT-01","st":1,"b":false,"su":false,"m":false,"lu":1457053580978,"lc":1457057008806,"bk":false,"bl":false,"la":47.618418,"lo":-122.350964,"da":13,"dx":0,"ba":5,"bx":0},{"id":2,"s":"2nd
        Ave & Vine St","n":"BT-03","st":1,"b":false,"su":false,"m":false,"lu":1457052464250,"lc":1457056973568,"bk":true,"bl":true,"la":47.615829,"lo":-122.348564,"da":9,"dx":0,"ba":6,"bx":1},{"id":3,"s":"6th
        Ave & Blanchard St","n":"BT-04","st":1,"b":false,"su":false,"m":false,"lu":1457050223808,"lc":1457057140865,"bk":true,"bl":true,"la":47.616094,"lo":-122.341102,"da":10,"dx":0,"ba":4,"bx":2},{"id":4,"s":"2nd
        Ave & Blanchard St","n":"BT-05","st":1,"b":false[...]
